/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

    /*Reset Default Div Styles*/
    html, body {

        margin: 0px;
        padding: 50px;
        height: 99%;
        background-color: deepskyblue;
        font-family: Copperplate, "Copperplate Gothic Light", fantasy;
        color: bisque;
    }

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/



/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/

    .modalClass {

        display: none;
        flex-flow: column;
        top: 0;
        left: 0;
        position: fixed;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        width: 90%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
    }

    .modalContentClass {

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 5px;
    }

    input[type=text], input[type=password] {

        padding: 5px 5px;
        font-size: medium;
        margin: 1px;
        border: none;
        text-align: center;
        cursor: pointer;
        width: 90%;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/


/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/

    .closeButtonClass {

        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        background-color: red;
        text-align: center;
        color: black;
        margin: 15px;
        padding: 10px 15px;
        background: linear-gradient(to bottom right, red, red);
        cursor: pointer;
        transition: all 0.5s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .closeButtonClass:hover {

        box-shadow: 0px 0px 5px 0 rgba(255, 228, 196, 0.8);
    }

    .submitButtonClass {

        display: flex;
        border: none;
        border-radius: 5px;
        background: linear-gradient(to bottom right, deepskyblue, dodgerblue);
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: bisque;
        font-weight: bolder;
        margin: 5px;
        padding: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.5s;
        cursor: pointer;
    }

    .submitButtonClass:hover {

        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.8), 0 15px 30px 0 rgba(0, 0, 0, 0.19);
    }

    .cancelButtonClass {

        display: flex;
        border: none;
        border-radius: 5px;
        background: linear-gradient(to bottom right, crimson, red);
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: bisque;
        font-weight: bolder;
        margin: 5px;
        padding: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.5s;
        cursor: pointer;
    }

    .cancelButtonClass:hover {

        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.8), 0 15px 30px 0 rgba(0, 0, 0, 0.19);
    }
/*====================================================================================================================*/