/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

    /*Reset Default Div Styles*/
    html, body {

        display: flex;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 99%;
        justify-content: center;
        align-items: center;
    }

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/



/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/

    /*Layout Defining Classes*/

        /*Body Wrapper Div Class*/
        .indexBodyWrapperDivClass {

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/


/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/


/*====================================================================================================================*/