/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

    /*Reset Default Div Styles*/
    html, body {

        margin: 0px;
        padding: 0px;
        height: 99%;
        background-color: deepskyblue;
        font-family: Copperplate, "Copperplate Gothic Light", fantasy;
        color: bisque;
    }

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/



/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/



/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/


/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/


/*====================================================================================================================*/