/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

/*Layout Defining Classes*/

    /*Body Wrapper Div Class*/
    .indexSectionDivClass {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        flex-wrap: wrap;
        height: 100%;
    }

    /*Make All Dimensions Congruent*/
    .indexSectionDivClass header {

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background:rgba(0,155,205,0.5);
        box-shadow: 0 4px 8px 0
        rgba(0, 0, 0, 0.2), 0 6px 20px 0
        rgba(0, 0, 0, 0.19);
        font-family: Copperplate, "Copperplate Gothic Light", fantasy;
        margin: 15px;
        flex: 1 1;
        min-width: 95%;
        max-height: 150px;
    }

    header {

        font-size: 15vh;
        font-family: Copperplate, "Copperplate Gothic Light", fantasy;
        font-weight: bolder;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 1);
        -webkit-background-clip: text;
        transform: rotate(0.5deg);
        letter-spacing: 15px;
    }

    .indexSectionDivClass main {

        display: flex;
        justify-content: center;
        min-width: 95%;
        align-items: center;
        border-radius: 10px;
        background:rgba(0,155,205,0.5);
        box-shadow: 0 4px 8px 0
            rgba(0, 0, 0, 0.2), 0 6px 20px 0
            rgba(0, 0, 0, 0.19);
        margin: 15px;
        flex: 1 1;
    }

    .indexSectionDivClass footer {

        display: flex;
        justify-content: center;
        min-width: 95%;
        align-items: center;
        border-radius: 10px;
        background:rgba(0,155,205,0.4);
        box-shadow: 0 4px 8px 0
        rgba(0, 0, 0, 0.2), 0 6px 20px 0
        rgba(0, 0, 0, 0.19);
        margin: 15px;
        flex: 1 1;
        max-height: 50px;
        transform: rotate(0.5deg);
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/


/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/


/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/


/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/


/*====================================================================================================================*/