/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

/*Layout Defining Classes*/

    /*Body Wrapper Div Class*/
    .indexSectionDivClass {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        flex-wrap: wrap;
        height: 100%;
    }

    .indexSectionDivClass main {

        display: flex;
        flex-flow: column;
        justify-content: center;
        min-width: 95%;
        align-items: center;
        border-radius: 10px;
        background:rgba(0,155,205,0.5);
        box-shadow: 0 4px 8px 0
            rgba(0, 0, 0, 0.2), 0 6px 20px 0
            rgba(0, 0, 0, 0.19);
        margin: 15px;
        flex: 1 1;
    }

    .indexSectionDivClass footer {

        display: flex;
        justify-content: center;
        min-width: 95%;
        align-items: center;
        border-radius: 10px;
        background:rgba(0,155,205,0.4);
        box-shadow: 0 4px 8px 0
        rgba(0, 0, 0, 0.2), 0 6px 20px 0
        rgba(0, 0, 0, 0.19);
        margin: 15px;
        flex: 1 1;
        max-height: 50px;
        transform: rotate(0.5deg);
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/

    header {

        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        font-size: 450%;
        font-family: Copperplate, "Copperplate Gothic Light", fantasy;
        font-weight: bolder;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 1);
        -webkit-background-clip: text;
        transform: rotate(0.5deg);
        letter-spacing: 15px;
    }

    header .indexPlaceholderDivClass {

        display: flex;
        max-width: 200px;
        flex: 1 1;
    }

    header .indexTitleDivClass {

        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex: 1 1;
    }

    header .indexButtonContainerDivClass {

        display: flex;
        max-width: 200px;
        justify-content: flex-end;
        align-items: flex-start;
        flex: 1 1;
        height: 100%;
    }

    /*Make All Dimensions Congruent*/
    .indexSectionDivClass header {

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background:rgba(0,155,205,0.5);
        box-shadow: 0 4px 8px 0
        rgba(0, 0, 0, 0.2), 0 6px 20px 0
        rgba(0, 0, 0, 0.19);
        font-family: Copperplate, "Copperplate Gothic Light", fantasy;
        margin: 15px;
        flex: 1 1;
        min-width: 95%;
        max-height: 150px;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/

    main {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        flex-wrap: wrap;
        height: 100%;
        transform: skew(.5deg, 1deg);
    }

    main .indexMainSubDivAClass {

        display: flex;
        flex-flow: column;
        justify-content: center;
        min-width: 95%;
        align-items: center;
        border-radius: 10px;
        margin: 15px;
        flex: 1 1;
    }

    .indexRegistrationFormTitleDivClass {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
        min-height: 15%;
    }

    .indexRegisterFormClass {

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
        height: 100%;
    }

    .indexRegistrationFormFieldClass {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        height: 75%;
        width: 95%;
    }

    .indexRegistrationFormFieldDivClass {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        height: 60%;
        width: 95%;
        padding: 0px;
        margin: 0px;
    }

    .regFormTitleClass {

        display: flex;
        font-style: italic;
        font-weight: bold;
        transition: 0.5s;
    }

    .indexRegistrationFormRowOneClass {

        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1;
        width: 100%;
        height: 50%;
        flex-flow: row;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,155,205, 0.9);
    }

    .indexRegistrationFormRowTwoClass {

        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1;
        width: 100%;
        height: 50%;
        flex-flow: row;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,155,205, 0.9);
        margin-bottom: 5px;
    }

    .indexRegistrationFormButtonDivClass {

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row;
        height: 15%;
        width: 99%;
        margin: 5px;
    }

    .indexMainSubDivBClass {

        display: flex;
        flex-wrap: wrap;
    }

    main .indexMainSubDivBClass {

        display: flex;
        flex-flow: row;
        justify-content: center;
        min-width: 95%;
        align-items: center;
        border-radius: 10px;
        margin: 15px;
        flex: 1 1;
    }

    .indexSeparatorDivClass {

        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
        flex: 1 1;
    }

    .indexSeparatorDivClass .closeButtonClass {

        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/


/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/

    /*Medium Screens*/
    @media all and (min-width: 500px) {

        .sectionAsideClass {flex: 1 auto}
    }

    /*Large Screens*/
    @media all and (min-width: 750px) {

        .sectionMainClass {flex: 3 auto}
        .sectionAsideClass {order: 1;}
        .footerClass {order: 2}

    }

    .indexGalleryButtonClass {

        display: block;
        border: none;
        border-radius: 50%;
        background: linear-gradient(to bottom right, deepskyblue, dodgerblue);
        width: 155px;
        height: 150px;
        font-size: 25px;
        color: bisque;
        font-weight: bolder;
        margin: 10px;
        padding: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.5s;
        cursor: pointer;
    }

    .indexGalleryButtonClass:hover {

        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 15px 30px 0 rgba(0, 0, 0, 0.19);
    }

    .indexGalleryButtonClass span {

        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .indexGalleryButtonClass span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -15px;
        font-size: 35px;
        transition: 0.5s;
    }

    .indexGalleryButtonClass:hover span {

        padding-right: 35px;
        margin: 10px 10px;
    }

    .indexGalleryButtonClass:hover span:after {

        opacity: 1;
        right: 0;
    }

    .indexLoginButtonClass {

        display: flex;
        border: none;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background: linear-gradient(to bottom right, deepskyblue, dodgerblue);
        width: 90%;
        height: 15%;
        font-size: 25px;
        color: bisque;
        font-weight: bolder;
        margin: 0px;
        padding: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.5s;
        cursor: pointer;
    }

    .indexLoginButtonClass:hover {

        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 15px 30px 0 rgba(0, 0, 0, 0.19);
    }

    .indexLoginButtonClass span {

        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .indexLoginButtonClass span:after {

        content: '\0040';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -15px;
        font-size: 35px;
        transition: 0.5s;
    }

    .indexLoginButtonClass:hover span {

        padding-right: 35px;
        margin: 10px;
    }

    .indexLoginButtonClass:hover span:after {

        opacity: 1;
        right: 0;
    }

    .indexRegisterButtonClass {

        display: flex;
        border: none;
        border-radius: 5px;
        background: linear-gradient(to bottom right, deepskyblue, dodgerblue);
        width: 90%;
        height: 15%;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: bisque;
        font-weight: bolder;
        margin: 0px;
        padding: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.5s;
        cursor: pointer;
    }

    .indexRegisterButtonClass:hover {

        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 15px 30px 0 rgba(0, 0, 0, 0.19);
    }

    .indexRegisterButtonClass span {

        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .indexRegisterButtonClass span:after {
        content: '\002b';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -15px;
        font-size: 35px;
        transition: 0.5s;
    }

    .indexRegisterButtonClass:hover span {

        padding-right: 35px;
        margin: 10px;
    }

    .indexRegisterButtonClass:hover span:after {

        opacity: 1;
        right: 0;
    }

    .indexLogoutButtonClass {

        display: flex;
        justify-content: center;
        border: none;
        align-items: center;
        border-radius: 5px;
        background: linear-gradient(to bottom right, deepskyblue, dodgerblue);
        font-size: 25px;
        color: bisque;
        font-weight: bolder;
        margin: 5px;
        padding: 5px;
        height: 25%;
        width: 70%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.5s;
        cursor: pointer;
    }

    .indexLogoutButtonClass:hover {

        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 15px 30px 0 rgba(0, 0, 0, 0.19);
    }
/*====================================================================================================================*/