/*Index Page Styling*/

/*Fill Body with Flex*/

/*Body Debug Class*/
.bodyWrapperDebugDiv {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*min-height: 100%;
    width: 100%;*/
}

/*Fill Body Context*/
.bodyWrapperDebugDiv > .headerClass, .sectionMainClass, .sectionAsideClass, .footerClass {

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 100%;
}

/*Adjust Height Assign of Elements*/

/*Adjust Header Height*/
.headerClass {

    display: flex;
    flex: 2;
}

/*Section Div Styling*/
.sectionClass {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 4;
}

/*Style Content of Main Div*/
.sectionMainClass {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border: bisque solid thin;*/
    flex: 2;
}

/*Style Content of Aside Div*/
.sectionAsideClass {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border: bisque solid thin;
    flex: 1;
}

.camContainerClass {

    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.camContainerClass > video, canvas {

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

video {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

canvas {

    /*border: bisque solid thin;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/*Adjust Footer Height*/
.footerClass {

    display: flex;
    flex: 1;
}

/*Style Registration Form*/

/*Registration Form Button Styling*/
#registrationFormButtonsDivContainer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

/*Style Login Form*/

/*Login Form Buttons Styling*/
#loginFormButtonsDivContainer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#cancelSubmitButton {

    background-color: red;
}

.buttonContainer {

    display: flex;
    flex-direction: row;
    width: 100%;
}
