/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/


    .headerDebugClass {

        border: thick solid gold;
    }

    .mainDebugClass {

        border: thick solid red;
    }

    .asideDebugClass {

        border: thick solid yellow;
    }

    .footerDebugClass {

        border: thick solid greenyellow;
    }

    .divDebugClassOne {

        border: thick solid black;
    }

    .divDebugClassTwo {

        border: thick solid silver;
    }

    .divDebugClassThree {

        border: thick solid white;
    }

    .divDebugClassFour {

        border: thick solid blue;
    }

    .divDebugClassFive {

        border: thick solid deepskyblue;
    }

    .divDebugClassSix {

        border: thick solid lightskyblue;
    }
/*====================================================================================================================*/