/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/


/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/

    /*Head Div Styling*/

    .headerDebugClass {

        border: thick solid #7fff79;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/

    /*Body Div Styling*/

    .sectionDivDebugClass {

        border: thick solid black;
    }

    /*Main Div Styling*/

    .mainDebugClass {

        border: thick solid blue;
    }

    .mainSubDivADebugClass {

        border: thick solid gold;
    }

    .mainSubDivBDebugClass {

        border: thick solid indigo;
    }

    .formDebugClass {

        border: thick solid crimson;
    }

    .formTitleDivDebugClass {

        border: thick solid sandybrown;
    }

    .formFieldDebugClass {

        border: thick solid yellow;
    }

    .placeholderDivDebugClass {

        border: thick solid lime;
    }

    .formFieldDivDebugClass {

        border: thick solid olivedrab;
    }

    .formRowOneDebugClass {

        border: thick solid darkviolet;
    }

    .formRowTwoDebugClass {

        border: thick solid navy;
    }

    .formButtonDivDebugClass {

        border: thick solid white;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/

    /*Footer Div Styling*/

    .footerDebugClass {

        border: thick solid red;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/


/*====================================================================================================================*/